.catalog__heading {
  font-size: 36px;
  line-height: 36px;
}

.product-item__heading {
  font-size: 16px;
  line-height: 20px;
  color: $catalog-grey;
  text-transform: uppercase;
}

.table-product {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}

.product-item__heading--more {
  font-size: 16px;
  line-height: 20px;
  color: $menu-text;
  text-transform: uppercase;
}

.product-item__text {
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}

.product-item__button,
.more-item__button {
  background-color: $bg-green;
  color: $white;
}

.product-item__button--more {
  background-color: $light-grey;
  color: $dark-grey;
}

