.contacts__text {
  font-size: 16px;
  color: $menu-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;

  }
}

.contacts__adress {
  line-height: 20px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 14px;

  }
}

.contacts__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    min-width: 1140px;
  }
}
