.programs__block {
  background-color: $bg-light-grey;
}

.programs__heading {
  font-size: 24px;
  line-height: 37px;
  color: $black-text;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs__text {
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $black-text;
  }
}

.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.programs__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 30px;

  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    min-width: 1140px;
  }
}
