.promo-top {
  background-color: $bg-green;
  color: $white
}

.promo-top__heading {
  font-size: 36px;
  line-height: 36px;
}

.promo-top__slogan {
  font-size: 14px;
  line-height: 14px;
}

.promo__link {
  background-color: $bg-green;
  color: $white;
}
