// Color text
$menu-text: rgba(17, 17, 17, 1);
$white: rgba(255, 255, 255, 1);
$black-text: rgba(0, 0, 0, 1);
$dark-grey: rgba(68, 68, 68, 1);
$light-grey: rgba(102, 102, 102, 1);

// Color backgound
$bg-light-grey: rgba(242, 242, 242, 1);
$bg-green: rgba(104, 183, 56, 1);
$bg-dark-grey: rgba(234, 234, 234, 1);
